
  
  #content{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-right: 15px;
    padding: 15px;
    padding-top: 0px;
    word-wrap: break-word;
    height: auto;
  }
  .content {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Calculate width to fill remaining space */
    height: auto; /* Calculate height to fill remaining space */
    background-color: #F9F9FB;
  }
  
  #details{
    background-color: white;
    border-radius: 4px;
    margin-right: 15px;
    padding: 15px;
    padding-top: 0px;
    word-wrap: break-word;
    height: 385px;
    width: 600px;
    border: 1px solid grey;
  }

.totalTickets
{
  margin-left: 450px;
}

  
  
  
  
  
  
  
    
  
   
    
  
  
  