
 <div class="mt-100 greeting text-center"><h1><b><i> Welcome Hluphist</i></b></h1></div><br>
        <main class="px-5 py-8 bg-surface-secondary ">
            <div class="container-fluid"> <!-- Card stats -->
                <div class="row g-6 mb-6">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body ">
                                <div class="row ">
                                    <div class="col"> <span
                                            class="h6 font-semibold text-muted text-sm d-block mb-2">Tickets Logged</span> <span
                                            class="h3 font-bold mb-0">300</span> </div>
                                    <div class="col-auto">
                                        <div class="badge bg-primary text-white text-lg rounded-circle"> <i
                                                class="bi bi-credit-card"></i> </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm"> <span
                                        class="badge badge-pill bg-soft-success text-success me-2"> <i
                                            class="bi bi-arrow-up me-1"></i>13% </span> <span
                                        class="text-nowrap text-xs text-muted">Since last month</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">New
                                            Tickets</span> <span class="h3 font-bold mb-0">5</span> </div>
                                    <div class="col-auto">
                                        <div class="badge bg-danger text-white text-lg rounded-circle"> <i
                                            class="bi bi-credit-card"></i> </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm"> <span
                                        class="badge badge-pill bg-soft-success text-success me-2"> <i
                                            class="bi bi-arrow-up me-1"></i>30% </span> <span
                                        class="text-nowrap text-xs text-muted">Since last month</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col"> <span
                                            class="h6 font-semibold text-muted text-sm d-block mb-2">Closed Tickets</span>
                                        <span class="h3 font-bold mb-0">292</span> </div>
                                    <div class="col-auto">
                                        <div class="badge bg-success text-white text-lg rounded-circle"> <i
                                                class="bi bi-credit-card"></i> </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm"> <span
                                        class="badge badge-pill bg-soft-danger text-danger me-2"> <i
                                            class="bi bi-arrow-down me-1"></i>-5% </span> <span
                                        class="text-nowrap text-xs text-muted">Since last month</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col"> <span
                                            class="h6 font-semibold text-muted text-sm d-block mb-2">In progress</span>
                                        <span class="h3 font-bold mb-0">3</span> </div>
                                    <div class="col-auto">
                                        <div class="badge bg-warning text-white text-lg rounded-circle"> <i
                                                class="bi bi-credit-card"></i> </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm"> <span
                                        class="badge badge-pill bg-soft-success text-success me-2"> <i
                                            class="bi bi-arrow-up me-1"></i>10% </span> <span
                                        class="text-nowrap text-xs text-muted">Since last month</span> </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Tickets</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Ticket Ref</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Assigned Agent</th>
                                    <th scope="col">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> #7654</td>
                                    <td> Feb 15, 2021 </td>
                                    <td> Microsoft Teams Not functioning</td>
                                    <td> Charles S.A </td>
                                    <td> <span class="badge rounded-pill bg-warning"> <i class="bg-warning"></i>In Progress
                                        </span> </td>
                                    <td class="text-end"> <a href="#" (click)="viewTicket()" class="btn btn-sm btn-neutral">View</a> <button
                                            type="button" (click)="deleteTicket()" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                            <i class="bi bi-trash"></i> </button> </td>
                                </tr>
                               
                                <tr>
                                    <td> #45622 </td>
                                    <td> Apr 10, 2023 </td>
                                    <td> Computer is slow </td>
                                    <td> Mbatha A </td>
                                    <td> <span class="badge rounded-pill bg-success"> <i class="bg-success"></i>Closed
                                        </span> </td>
                                    <td class="text-end"> <a href="#" class="btn btn-sm btn-neutral" (click)="viewTicket()">View</a> <button
                                            type="button" (click)="deleteTicket()" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                            <i class="bi bi-trash"></i> </button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        
    