<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="top-menu">
    <nav>
      <ul>
        <li><a><img src="../../../assets/images/align-left.svg" style="margin-left: 25px;"> Welcome! <strong>Username</strong></a></li>
        <li style="float: inline-end; " class="iconImages"><a><img src="../../../assets/images/Ellipse 73.svg" style="margin-left: -15px;" width="40px" height="40px"><strong style="font-weight: bold;"></strong></a></li>
        <li style="float: inline-end;" class="iconImages"><a><img src="../../../assets/images/Notif.svg" width="40px" height="40px"></a></li>

      </ul>
    </nav>
  </header>
  <div class="sidebar">
    <div class="logo">
        <img src="../../../assets/images/Icon.png" alt="Logo"> 
        <p style="white-space: nowrap; margin-left: 15px; margin-top: 15px; font-weight: bold;">Service Desk</p>
      </div>
    
    <ul>

      <li><a routerLink="/admin-dashboard" style="margin-left: 25px; text-decoration: none;">
        <img src="../../../assets/images/tickets.svg" width = "25px" height="25px"  class="menuImages">Dashboard</a></li>
      <li><a routerLink="/admin-users" style="margin-left: 25px; text-decoration: none;"><img src="../../../assets/images/Headset.svg" width = "25px" height="25px"  class="menuImages">Users</a></li>
      <li><a routerLink="/admin-subscriptions" style="margin-left: 25px; text-decoration: none;"><img src="../../../assets/images/Subscriptions.svg" width = "25px" height="25px"  class="menuImages">Subscriptions</a></li>
      <li><a routerLink="/admin/settings" style="margin-left: 25px; text-decoration: none;"><img src="../../../assets/images/Gear.svg" width = "25px" height="25px"  class="menuImages">Settings</a></li>

      <li><a routerLink="/admin-login" style="margin-left: 25px; text-decoration: none; margin-top: 440px;"><img src="../../../assets/images/Vector.svg" width = "25px" height="25px"  class="menuImages">Logout</a></li>

    </ul>
  </div>
  
  <div class="content">
    
    <h2><strong>Users</strong></h2>

    <hr/>
    
    <div style="display: flex;margin-left: 1143px;" >
        <input type="text" placeholder="Search users"> 

    <button class="nextButton" (click)="toggleForms('form2')">
        <img src="../../../assets/images/UserPlus.svg" width="20px" height="20px" style="margin-right: 10px; margin-top: -5px;">                      
        
        Add</button></div>
    <div class="container text-left">
      <div class="row">
        <div class="col-13" id="content" style="margin-top: 25px;">

            <div class="container text-left" style="margin-top: 15px; margin-bottom: 15px;" >
                <div class="row">

         <div class="col" id="details"  *ngIf="currentForm === 'form1'">
            <h5><strong>Registered Users</strong></h5>

          
<table>
    <thead>
        <tr>
            <th style="    border-top-left-radius: 14px;border-bottom-left-radius: 14px;">Contact Name</th>
            <th>Company Name</th>
            <th>Email Address</th>
            <th>Status</th>

            
            <th style="    border-top-right-radius: 14px;border-bottom-right-radius: 14px;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John Smith</td>
            <td>Mfacory</td>
            <td>JohnDoe@gmail.com</td>
            <td class="active-status">Active</td>
            <td>
                <span class="form-header"><a>Edit</a></span>
                <span class="form-header"><a>Delete</a></span></td>
        </tr>
        <tr>
            <td>John Smith</td>
            <td>Mfacory</td>
            <td>JohnDoe@gmail.com</td>
            <td class="active-status">Active</td>
            <td>
               
                <img src="../../../assets/images/person.svg" (click)="toggleDropdown($event)">
                <div class="dropdown">
                   
                    <ul class="dropdown-menu dropdown-menu-end" [ngClass]="{ 'show': isDropdownOpen }" aria-labelledby="navbarDropdown">
                      <!-- Dropdown items -->
                      <li style="margin-top:-10px;"><a class="dropdown-item" routerLink="/profile">Edit</a></li>
                      <!-- You can add more dropdown items here -->
                      <li><hr class="dropdown-divider"></li>
                      <li style="margin-top:-10px;"><a class="dropdown-item" routerLink="/login"> Delete</a></li>
                    </ul>
                </div>
            </td>
            
        </tr>
        <tr>
            <td>John Smith</td>
            <td>Mfacory</td>
            <td>JohnDoe@gmail.com</td>
            <td class="active-status">Active</td>
            <td><img src="../../../assets/images/person.svg">

              

            </td>
        </tr>
    </tbody>
</table>

         </div>
         
        
                </div>
                <div class="col" *ngIf="currentForm === 'form2'">
                    <div style="display: flex;">
                    <h5 class="form-header"><strong>Register User</strong></h5>

                </div>

                    <hr/>
                <form [formGroup]="addUsers">
               
                    <fieldset>
                        
                  
                      <label for="contact_name" >Contact Name</label>
                      <input type="text" id="name" name="user_name" formControlName="name" placeholder="Full Name">
                      <div
                      *ngIf="new_user['name'].invalid && (new_user['name'].dirty || new_user['name'].touched)"
                      class="alert alert-danger" style="width: 750px; border-radius: 4px;" >
                      <span *ngIf="new_user['name'].errors?.['required']" style="color:#f98f8f;">Full name is required</span>
                      <span *ngIf="new_user['name'].errors?.['containsNumbers']" style="color:#f98f8f">Please enter valid Full name</span>

                       </div>

                       <label for="company_name" >Company Name</label>
                       <input type="text" id="name" name="user_name" formControlName="company_name" placeholder="Company Name">
                       <div
                       *ngIf="new_user['company_name'].invalid && (new_user['company_name'].dirty || new_user['company_name'].touched)"
                       class="alert alert-danger" style="width: 750px; border-radius: 4px;">
                       <span *ngIf="new_user['company_name'].errors?.['required']" style="color:#f98f8f;">Company name is required</span>
     
                        </div>
    
                       <label for="email" class="input-fields">Email</label>
                      <input type="email" id="mail" name="user_email" formControlName="email" placeholder="Company Email">
                      <div
                      *ngIf="new_user['email'].invalid && (new_user['email'].dirty || new_user['email'].touched)"
                      class="alert alert-danger" style="width: 750px; border-radius: 4px;">
                      <span *ngIf="new_user['email'].errors?.['required']" style="color:#f98f8f">Email is required</span>
                      <span *ngIf="new_user['email'].errors?.['email']" style="color:#f98f8f">Please enter valid email</span>
                       </div>
                    </fieldset>

                    <fieldset>
                        <label for="status" class="input-fields">Status</label>

                        <select formControlName="status" style="width: 750px;">
                            <option value="active-status" class="option-status"> active </option>
                            <option value="not-active"> active </option>
                            <option value="not-active"> active </option>
                        </select>

                        <div
                        *ngIf="new_user['status'].invalid && (new_user['status'].dirty || new_user['status'].touched)"
                        class="alert alert-danger" style="width: 750px; border-radius: 4px;">
                        <span *ngIf="new_user['status'].errors?.['required']" style="color:#f98f8f">Please select status</span>
                         </div>
                    </fieldset>
                    
                     
                   
                    <button type="submit" style ="width:150px; margin-top: 25px; margin-left: 600px;"class="nextButton" [disabled]="addUsers.invalid">Register User</button>
                    <hr style="width: 750px;">
                </form>

                <button type="submit" style ="width:150px; margin-left: 20px; margin-top: -100px ;"class="closeButton" (click)="toggleForms('form1')">Back</button>


               


                </div>
            </div>

         

        </div>

        </div>
       
          
      </div>

        
        
    </div>
</body>

<script>
  
</script>
</html>
