<!--Top menu-->
<app-top-menu></app-top-menu>

<!--End of Top Menu-->

<!--Sidebar Menu-->
 <app-sidebar-employee></app-sidebar-employee>
<!--End of sidebar menu-->
  
  <div class="content">
    <div style="display: flex;">
    <h2><strong>Ticket</strong></h2>
    <button class="closeButton" (click)="navigateToDestination() ">Close</button></div>
    <p>This is the main content area.</p>
  
    <div class="container text-left">
      <div class="row">
        <div class="col-9" id="content">

            <div style="display: flex; margin-top: 20px; margin-bottom: 35px;">
            <h3><strong>Cannot access the system</strong></h3>

            <div style="display: flex;">
            <p class="form-header" style="margin-bottom: 20px; margin-top: 10px; margin-left: 70px;"><span class="ticket-id">#1E233</span> </p>
            <p class="form-header" style="margin-bottom: 20px; margin-top: 10px; margin-left: 200px;"><span class="ticket-status">Open</span></p>
            <p class="form-header" style="margin-bottom: 20px; margin-top: 10px; margin-left: 70px;"><span class="ticket-priority">Urgent</span></p>
             </div>
             
            </div>
            <hr/>

            <div class="message-body">
                <span style="color: white;">Ticket body | Ticket body | Ticket body | Ticket body | Ticket body | Ticket body | Ticket body Ticket body |Ticket body |Ticket body |Ticket body || Ticket body | Ticket body | Ticket body | Ticket body | Ticket body | Ticket body |Ticket body |</span>
            </div>

            <p style="margin-left: 5px;">Name <span class="form-header" style="margin-left: 10px;">Today, 11:30 PM</span></p>

            <div class="replied">
                <span style="color: #202020;">| Ticket body | Ticket body | Ticket body | Ticket body | Ticket body | Ticket body |Ticket body |</span>
            </div>

            <p style="margin-left: 798px;">Name <span class="form-header" style="margin-left: 10px;">Today, 11:30 PM</span></p>
            
            <div class="message-input">

              <input placeholder="Write  your response for issue" class="text-class" style="overflow-y: auto;"/>

                <div style="display: flex; margin-left: 750px; margin-top: 20px;">
                  <div>
                    <!--Hidden file input-->
                    <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)"></div>
                    <button type="button"class="attachButton" type="file" (click)="fileInput.click()">
                      <img src="../../../assets/images/Vector (Stroke).svg" width="17px" height="17px" style="margin-right: 15px;">                      
                      Attach</button>
                     <button class="nextButton">Send</button>
                </div>
            </div>
      </div>
      <div class="col" id="ticket-details">
        <h6 style="margin-bottom: 25px; margin-top: 20px;">Ticket Info</h6>
        <div class="form-header">
        <p class="form-header" style="margin-bottom: 20px;">Ticket Id: <span class="ticket-id">#1E233</span> </p>
        <p class="form-header" style="margin-bottom: 20px;">Created : <span style="margin-left: 10px;">dd - mm - yyyy</span></p>
        <p class="form-header" style="margin-bottom: 20px;">Status: <span class="ticket-status">Open</span></p>
        <p class="form-header" style="margin-bottom: 20px;">Priority: <span class="ticket-priority">Urgent</span></p>
        <hr/>

         </div>
      </div>

      <div class="activity">
        <h6 style="margin-bottom: 25px; margin-top: 20px;">Recent activities</h6>

        <p style="margin-bottom: 20px;">John closed "How do I reset my password" <br/> <span class="form-header">14 Nov 2022, 5:26 PM</span> </p>


      </div><br/>

      

     

      
     
      </div>

      
    </div>
  </div>

