<app-sidebar></app-sidebar>
<app-employee-top-menu></app-employee-top-menu> 

<div class="content">

    <div class="container text-left">
        <h2><strong>Settings</strong></h2>
        <hr/>
     <div class="row">

        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">

                  <h6 class="card-title"><strong>Account</strong></h6>
                  <hr/>
             <ul class="settings-menu">
                <li><a  class="form-header" (click)="toggleForms('form1')"><img src="assets/images/iconamoon_profile-light.svg" > Edit Profile</a></li>
                <li><a  class="form-header" (click)="toggleForms('form2')"><img src="assets/images/material-symbols_privacy-tip-outline.svg" > Security</a></li>
                <li><a  class="form-header" (click)="toggleForms('form3')"><img src="assets/images/iconamoon_notification.svg"  > Notifications</a></li>
                <li><a  class="form-header"(click)="toggleForms('form4')"><img src="assets/images/ic_outline-lock.svg"  > Privacy</a></li>
                <li><a  class="form-header" (click)="toggleForms('form5')"><img src="assets/images/iconamoon_profile-light.svg"  > Agents & Employees </a></li>
                <li><a  class="form-header" routerLink="/more-settings"> More Settings </a></li>
            </ul>
         </div>
         </div>
         </div>

        <div class="col-7">
            
          <!--Profile details form-->
            <form [formGroup]="profileForm" *ngIf="currentForm === 'form1'" >
               
                <fieldset>
              
                  <label for="email" >Name</label>
                  <input type="text" id="name" name="user_name" formControlName="fullName" placeholder="Company Email">
                  <div
                  *ngIf="profile['fullName'].invalid && (profile['fullName'].dirty || profile['fullName'].touched)"
                  class="alert alert-danger" >
                  <span *ngIf="profile['fullName'].errors?.['required']" >Full name is required</span>
                  <span *ngIf="profile['fullName'].errors?.['containsNumbers']">Please enter valid Full name</span>

                   </div>

                   <label for="email" class="input-fields">Email</label>
                  <input type="email" id="mail" name="user_email" formControlName="email" placeholder="Company Email">
                  <div
                  *ngIf="profile['email'].invalid && (profile['email'].dirty || profile['email'].touched)"
                  class="alert alert-danger">
                  <span *ngIf="profile['email'].errors?.['required']">Email is required</span>
                  <span *ngIf="profile['email'].errors?.['email']">Please enter valid email</span>
                   </div>
                 

                    <label for="dob" class="input-fields">Date Of Birth</label>

                    <div class="dateInput">
                        <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Choose a date" >
                        <mat-datepicker-toggle matSuffix [for]="picker" class="date-picker"></mat-datepicker-toggle>
                      </div>
                      <mat-datepicker #picker panelClass="datepickerTwo"></mat-datepicker>
                      <div
                      *ngIf="profile['dob'].invalid && (profile['dob'].dirty || profile['dob'].touched)"
                      class="alert alert-danger">
                      <span *ngIf="profile['dob'].errors?.['required']" >Expiry date is required</span>
                      </div>

                    <label for="country" class="input-fields">Country</label>
                   <input type="text" id="country" name="user_country" formControlName="country">
                   <div
                   *ngIf="profile['country'].invalid && (profile['country'].dirty || profile['country'].touched)"
                   class="alert alert-danger">
                   <span *ngIf="profile['country'].errors?.['required']" >Country is required</span>
                    </div>
                </fieldset>
                <label for="country" class="input-fields"> Profile Image</label>

                <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)"/>

                <button type="button" class="attachButton" type="file" (click)="fileInput.click()">
                  Choose File
                </button>  

                

                <button type="submit" class="nextButton" [disabled]="profileForm.invalid">Save changes</button>
                
            </form>

            <!--End Of Profile details form-->

            <!--Change password Form-->
            <form [formGroup]="passwordForm" *ngIf="currentForm === 'form2'" >
               
              <fieldset>
            
               
                 
                 <label for="old_password" class="input-fields">Old Password</label>
                 <input type="password" id="password" name="user_password" formControlName="old_password">
                 <div
                 *ngIf="password['old_password'].invalid && (password['old_password'].dirty || password['old_password'].touched)"
                 >
                 <div *ngIf="password['old_password'].errors?.['required']" class="alert alert-danger" >Old password is required</div>
                 <div *ngIf="password['old_password'].errors?.['minlength']" class="alert alert-danger" >Password must be at least 8 characters long.</div>
                 <div *ngIf="password['old_password'].errors?.['maxlength']" class="alert alert-danger" >Password must be less then 12 characters long.</div>

                  </div>

                  <label for="new_password" class="input-fields">New Password</label>
                  <input type="password" id="password" name="user_password" formControlName="new_password">
                  <div
                  *ngIf="password['new_password'].invalid && (password['new_password'].dirty || password['new_password'].touched)"
                  class="alert alert-danger">
                  <span *ngIf="password['new_password'].errors?.['required']" >New password is required</span>
                  <div *ngIf="password['new_password'].errors?.['minlength']" >Password must be at least 8 characters long.</div>
                  <div *ngIf="password['new_password'].errors?.['maxlength']"  >Password must be less then 12 characters long.</div>
 
                
                </div>

                   <label for="confirm_password" class="input-fields">Confirm Password</label>
                   <input type="password" id="password" name="user_password" formControlName="confirm_password">
                   <div
                   *ngIf="password['confirm_password'].invalid && (password['confirm_password'].dirty || password['confirm_password'].touched)"
                   class="alert alert-danger">
                   <span *ngIf="password['confirm_password'].getError('required')" >Please confirm your password</span>
                   <span *ngIf="password['confirm_password'].errors?.['MustMatch']" >Password does not match</span>

                    </div>
                    

               
              </fieldset>
              
               
             
              <button type="submit" class="nextButton" [disabled]="passwordForm.invalid">Save Password</button>
              
          </form>

           <!--End Of Change password Form-->


          <!--Add User/Employee form-->

          <form [formGroup]="add_user_form" *ngIf="currentForm === 'form7'" >
            <span class="form-header"><strong>Add Agent/Employee</strong></span>
            <hr class="form-hr">
               
            <fieldset>
          
              <label for="fullName" >Full Name</label>
              <input type="text" id="fullName" name="fullName" formControlName="fullName" placeholder="">
              <div
              *ngIf="add['fullName'].invalid && (add['fullName'].dirty || add['fullName'].touched)"
              class="alert alert-danger" >
              <span *ngIf="add['fullName'].errors?.['required']" >Full name is required</span>
              <span *ngIf="add['fullName'].errors?.['containsNumbers']" >Please enter valid Full name</span>

               </div>

                
               <label for="designation" class="input-fields">Designation</label>
               <select formControlName="designation" >
                <option value="employee" class="option-status"> Employee </option>
                <option value="agent"> Agent </option>
            </select>

            <div
            *ngIf="add['designation'].invalid && (add['designation'].dirty || add['designation'].touched)"
            class="alert alert-danger">
            <span *ngIf="add['designation'].errors?.['required']" >Please select designation</span>
             </div>


               <label for="email" class="input-fields">Email</label>
              <input type="email" id="mail" name="user_email" formControlName="email" placeholder="">
              <div
              *ngIf="add['email'].invalid && (add['email'].dirty || add['email'].touched)"
              class="alert alert-danger">
              <span *ngIf="add['email'].errors?.['required']" >Email is required</span>
              <span *ngIf="add['email'].errors?.['email']">Please enter valid email</span>
               </div>
              

                <label for="phone_number" class="input-fields">Phone Number</label>
               <input type="text" id="phone_number" name="phone_number" formControlName="phone_number">
               <div
               *ngIf="add['phone_number'].invalid && (add['phone_number'].dirty || add['phone_number'].touched)"
               class="alert alert-danger">
               <span *ngIf="add['phone_number'].errors?.['required']">Phone Number is required</span>
               <span *ngIf="add['phone_number'].errors?.['notANumber']" >Please enter valid phone number</span>

                </div>

                
                    <label for="status" class="input-fields">Status</label>
        
                    <select formControlName="status" >
                        <option value="active-status" class="option-status"> active </option>
                        <option value="not-active"> active </option>
                        <option value="not-active"> active </option>
                    </select>
        
                    <div
                    *ngIf="add['status'].invalid && (add['status'].dirty || add['status'].touched)"
                    class="alert alert-danger">
                    <span *ngIf="add['status'].errors?.['required']" >Please select status</span>
                     </div>

                <!--<input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
                <button type="button" class="attachButton" (click)="fileInput.click()">Attach Image</button>-->
                
            </fieldset>
            
             
           
            <button type="submit" class="nextButton" [disabled]="add_user_form.invalid">Add User</button>
            
        </form>


        



          
                 <!--Privacy-->
                 <div *ngIf="currentForm === 'form4'">
                    <div class="card shadow">
                        <div class="card-body">

                    <span class="form-header" id="header">Privacy</span>
                    <hr>
    
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>

                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>

                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>
    
                    </ol>
    
    
                        </div>
                    </div>
                </div>

                <!--Agents-->
                <div class="container text-left" id="designations" *ngIf="currentForm === 'form5'" >
                    <div class="row">
                        
         
    
             <div class="col"   id="content2">
                <div class="top-menu2">
                    <nav>
                      <ul>
                        <li id="first"><a (click)="toggleForms('form5')">Agents</a></li>
                        <li ><a  (click)="toggleForms('form6')" style="margin-left: 35px;">Employees</a></li>
                        <li class="form-li">
                          <input type="text" placeholder="Search Agents"> 
                        </li>
                        <li class="form-li">
                            <button class="addButton" (click)="toggleForms('form7')">
                                <img src="../../../assets/images/UserPlus.svg">                      
                                
                                Add</button>
                        </li>
             
                      </ul>
                    </nav>

                    <hr/>
                    
                  </div>
                <h5 class="top"><strong>Agents</strong></h5>
    
              
    <table>
        <thead>
            <tr>
                <th class="table-corners-first">Name</th>
                <th>Designation </th>
                
    
                
                <th class="table-corners-last">Member</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a routerLink="/view-agents">John Smith</a></td>
                <td>IT Support</td>
                <td><span>Agent</span><br><span class="active-status">Active</span></td>
       
            </tr>
            <tr>
                <td><a routerLink="/view-agents">John Smith</a></td>
                <td>IT Support</td>
                <td><span>Agent</span><br><span class="active-status">Active</span></td>
           
                
            </tr>
            <tr>
                <td><a routerLink="/view-agents">John Smith</a></td>
                <td>IT Support</td>
                <td><span>Agent</span><br><span class="active-status">Active</span></td>
             
            </tr>
        </tbody>
    </table>
    
             </div>
             
            
                    </div>
         

          

   
        </div>
        <div  *ngIf="currentForm === 'form3'">
        <div class="card shadow">
            <div class="card-body">
              <h6 class="card-title"><strong>Notifications</strong></h6>
            <hr>

            <ol>
              <!--Email Alerts-->
                <div>
                  <span class="card-title"><strong>Email Alerts</strong></span>
                  <div class="row">
                    <div class="col">
                  <span class="form-header" style="margin-top: 10px;">Ticket Notification:</span><br>
                  <span class="form-header">Ticket Closure: </span><br>
                  <span class="form-header">Ticket Response:</span><br>
                  </div>

                <div class="col">
                  <span class="form-header pointer" (click)="toggleState(0)">{{ buttonTexts[0] }}</span><br>
                  <span class="form-header pointer" (click)="toggleState(1)">{{ buttonTexts[1] }}</span><br>
                  <span class="form-header pointer" (click)="toggleState(2)">{{ buttonTexts[2] }}</span><br>

                </div>
                </div>
                </div>
               <!--End Of Email Alerts-->

            <!--Updates Alerts-->
            <div style="margin-top: 15px;">
              <span class="card-title"><strong>Updates Alerts</strong></span>
              <div class="row">
                <div class="col">
              <span class="form-header" style="margin-top: 10px;">Default (notifications on)</span><br>
            
              </div>

            <div class="col">
              <span class="form-header pointer" (click)="toggleState(3)">{{ buttonTexts[3] }}</span><br>
        
            </div>
            </div>
            </div>
           <!--End Of Updates Alerts-->

           
            <!--Updates Alerts-->
            <div style="margin-top: 15px;">
              <span class="card-title"><strong>Account Changes</strong></span>
              <div class="row">
                <div class="col">
              <span class="form-header" style="margin-top: 10px;">Default (notifications on)</span><br>
              <span class="form-header">Profile Changes:</span><br>
              <span class="form-header">Password Changes:</span><br>
              <span class="form-header">Privacy Changes:</span><br>


            
              </div>

            <div class="col">
              <span class="form-header pointer" (click)="toggleState(4)">{{ buttonTexts[4] }}</span><br>
              <span class="form-header pointer" (click)="toggleState(5)">{{ buttonTexts[5] }}</span><br>
              <span class="form-header pointer" (click)="toggleState(6)">{{ buttonTexts[6] }}</span><br>
              <span class="form-header pointer" (click)="toggleState(7)">{{ buttonTexts[7] }}</span><br>
            </div>
            </div>
            </div>
           <!--End Of Updates Alerts-->

                <button class="closeButton" (click)="restoreToDefault()">Restore to default</button>

            </ol>

          </div>
        </div>
    </div>

            <!--Employess-->
            <div class="container text-left" id="designations" *ngIf="currentForm === 'form6'" >
                <div class="row">
                    
     

         <div class="col" id="content2" >
            <div class="top-menu2">
                <nav>
                  <ul>
                    <li id="first"><a (click)="toggleForms('form5')">Agents</a></li>
                    <li ><a  (click)="toggleForms('form6')" style="margin-left: 35px;">Employees</a></li>
                    <li class="form-li">
                      <input type="text" placeholder="Search Employees"> 
                    </li>
                    <li class="form-li">
                     

                        <button class="addButton" (click)="toggleForms('form7')">
                            <img src="../../../assets/images/UserPlus.svg">                      
                            
                            Add</button>
                    </li>
         
                  </ul>
                </nav>

                <hr/>
                
              </div>
            <h5 class="top"><strong>Employees</strong></h5>

          
<table>
    <thead>
        <tr>
            <th class="table-corners-first">Name</th>
            <th>Designation </th>
            

            
            <th class="table-corners-last">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a routerLink="/view-employee">John Smith</a></td>
            <td><span>Employee</span><br><span class="active-status">Active</span></td>
            <td><span class="form-header">Employees' email</span></td>
   
        </tr>
        <tr>
            <td><a routerLink="/view-employee">John Smith</a></td>
            <td><span>Employee</span><br><span class="active-status">Active</span></td>
            <td><span class="form-header">Employees' email</span></td>
       
            
        </tr>
        <tr>
            <td><a routerLink="/view-employee">John Smith</a></td>
            <td><span>Employee</span><br><span class="active-status">Active</span></td>
            <td><span class="form-header">Employees' email</span></td>
         
        </tr>
    </tbody>
</table>

         </div>
         
        
                </div>
     

      


    </div>

       
      </div>
     
      </div>

    
  </div>
  </div>