<div class="sidebar">
    <div class="logo">
        <img src="../../../assets/images/Icon.png" alt="Logo"> 
        <p style="white-space: nowrap; margin-left: 15px; margin-top: 15px; font-weight: bold;">Service Desk</p>
      </div>
    
    <ul>

      <li><a routerLink="#" style="margin-left: 25px; text-decoration: none;">
        <img src="../../../assets/images/tickets.svg" width = "25px" height="25px"  class="menuImages">Tickets</a></li>
      <li><a routerLink="/knowledgebase" style="margin-left: 25px; text-decoration: none;"><img src="../../../assets/images/knowledgebase.svg" width = "25px" height="25px"  class="menuImages">Knowledgebase</a></li>
      <li><a routerLink="/employee-login" style="margin-left: 25px; text-decoration: none; margin-top: 530px;"><img src="../../../assets/images/Vector.svg" width = "25px" height="25px"  class="menuImages">Logout</a></li>

    </ul>
  </div>