<!--Top menu-->
<app-top-menu></app-top-menu>

<!--End of Top Menu-->

<!--Sidebar Menu-->
 <app-sidebar-employee></app-sidebar-employee>
<!--End of sidebar menu-->
  
  <div class="content">
    <h2><strong>Knowledgebase</strong></h2>
    <p>This is the main content area.</p>
    <div class="container text-left">
      <div class="row">
        <div class="col-13" id="content">

            <div class="container text-left" style="margin-top: 15px;" >
            <div class="row">
              <div class="col" id="ticket-details">

                <div class="form-header">
                    <h6 style="margin-bottom: 25px; margin-top: 10px;"><strong>Introduction to Hosting</strong></h6>
                    <div class="form-header">
                    <p class="form-header" style="margin-bottom: 15px;">What is web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Types of web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">How to choose a hosting provider?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Common hosting features to look for</p>
                    <p class="form-header" style="margin-bottom: 15px;">Pros and cons of different hosting types</p>

                    <hr/>
            
                     </div>
                </div>
              </div>
              <br/>
              <div class="col" id="ticket-details">
                <div class="form-header">
                    <h6 style="margin-bottom: 25px; margin-top: 10px;"><strong>Setting up a website</strong></h6>
                    <div class="form-header">
                    <p class="form-header" style="margin-bottom: 15px;">How to registyer a domain name?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Types of web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">How to choose a hosting provider?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Common hosting features to look for</p>
                    <p class="form-header" style="margin-bottom: 15px;">Pros and cons of different hosting types</p>

                    <hr/>
            
                     </div>
                </div>
              </div>
              <br>
              <div class="col" id="ticket-details">
                <div class="form-header">
                    <h6 style="margin-bottom: 25px; margin-top: 10px;"><strong>Introduction to Hosting</strong></h6>
                    <div class="form-header">
                    <p class="form-header" style="margin-bottom: 15px;">What is web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Types of web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">How to choose a hosting provider?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Common hosting features to look for</p>
                    <p class="form-header" style="margin-bottom: 15px;">Pros and cons of different hosting types</p>

                    <hr/>
            
                     </div>
                </div>
              </div>
            </div>
          </div>

          <!--Second line of settings' grid-->
          
          <div class="container text-left" style="margin-top: 10px;" >
            <div class="row">
              <div class="col" id="ticket-details">
                <div class="form-header">
                    <h6 style="margin-bottom: 25px; margin-top: 10px;"><strong>Introduction to Hosting</strong></h6>
                    <div class="form-header">
                    <p class="form-header" style="margin-bottom: 15px;">What is web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Types of web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">How to choose a hosting provider?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Common hosting features to look for</p>
                    <p class="form-header" style="margin-bottom: 15px;">Pros and cons of different hosting types</p>

                    <hr/>
            
                     </div>
                </div>
              </div>
              <br/>
              <div class="col" id="ticket-details">
                <div class="form-header">
                    <h6 style="margin-bottom: 25px; margin-top: 10px;"><strong>Introduction to Hosting</strong></h6>
                    <div class="form-header">
                    <p class="form-header" style="margin-bottom: 15px;">What is web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Types of web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">How to choose a hosting provider?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Common hosting features to look for</p>
                    <p class="form-header" style="margin-bottom: 15px;">Pros and cons of different hosting types</p>

                    <hr/>
            
                     </div>
                </div>
              </div>
              <br>
              <div class="col" id="ticket-details">
                <div class="form-header">
                    <h6 style="margin-bottom: 25px; margin-top: 10px;"><strong>Introduction to Hosting</strong></h6>
                    <div class="form-header">
                    <p class="form-header" style="margin-bottom: 15px;">What is web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Types of web hosting?</p>
                    <p class="form-header" style="margin-bottom: 15px;">How to choose a hosting provider?</p>
                    <p class="form-header" style="margin-bottom: 15px;">Common hosting features to look for</p>
                    <p class="form-header" style="margin-bottom: 15px;">Pros and cons of different hosting types</p>

                    <hr/>
            
                     </div>
                </div>
              </div>
            </div>
          </div>
       
    
     


      </div><br/>

      

     

      
     
      </div>

      
    </div>
  </div>
  

  


