<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Top navabr Mouse Hover</title>
  </head>
  
  <div class="d-flex vw-100 vh-100 align-items-center justify-content-center">
    <img src="./assets/images/service-desk.png" class="rounded-circle imgfluid"  alt=""/>
  
    <header
        class="d-flex navbar-conts flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-4 border-bottom rounded-pill  ">
        <a href="~/HOME"
            class="navbarlogo d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none w-auto">
            <img src="./assets/images/service-desk.png" class="rounded-circle" width="32" height="32"  alt=""/>
       Service Desk
          </a>
        
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a routerlink="./" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a routerlink="./" class="nav-link px-2 link-dark">Products</a></li>
            <li><a routerlink="./" class="nav-link px-2 link-dark">Pricing</a></li>
            <li><a routerlink="./" class="nav-link px-2 link-dark">Services</a></li>
            <li><a routerlink="./" class="nav-link px-2 link-dark">About us</a></li>
            <li><a routerlink="./" class="nav-link px-2 link-dark">Contact us</a></li>
        </ul>
  
        <div class="col-md-5 text-end">
            <button type="button" class="btn btn-outline-primary rounded-pill me-2" routerLink="/login">Login</button>
            <button type="button" class="btn btn-primary rounded-pill">Sign-up</button>
  
        </div>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
  </div>
