* {
    margin: 0;
    padding: 0
}
.navbar-conts {

    width: 60px;
    height: 60px;
    background-color: transparent;
    content-visibility: hidden;
}
.imgfluid{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 1%;
}
header{
    position: fixed;
    top: 0;
}

ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul li a:hover {
    border-bottom: #000000 2px solid;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.navbar-conts:hover {
    padding-left: 40PX;
    padding-right: 40PX;
    animation-name: navbar-conts-hover;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    content-visibility: visible;
}

@keyframes navbar-conts-hover {
    0% {
        width: 25%;
        background: #f0f0f0;
        box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset
    }

    25% {
        width: 50%;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset
    }

    50% {
        width: 75%;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset
    }

    100% {
        
        width: 100%;
        background: #fafafa;
        box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset
    }

}