<div class="container">
  <div class="row justify-content-md-center">
      <div class="row">
          <!--FIRST COLUMN-->
          <div class="col-12 col-md-8 text-black">
              <div class="row no gutters">
                  <div class="col-md-8">
                      <h3 id="ticket">Tickets</h3>
                      <br>
                  </div>
                  <div class="col-md-4">
                      <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal"
                          data-bs-target="#myModal">New Ticket</button></div>
                  </div>
                  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Log New Ticket</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form [formGroup]="ticketForm">
                              <div class="mb-3">
                                <label for="subject-name" class="form-label">Subject:</label>
                                <input type="text" class="form-control" id="subject-name" formControlName="Subject" placeholder="Enter your subject"
                                formArrayName="subject" [class.is-invalid]="v.Subject.invalid && v.Subject.touched">
                                <small *ngIf="v.Subject.invalid && v.Subject.touched"
                                    class="text-danger">Job tittle is required. </small>
                              </div>
                              <div class="mb-3">
                                <label for="department-name" class="col-form-label">Department:</label>

                                <select class="form-select form-control" id="department-name" formControlName="Department" placeholder="Choose department"
                                formArrayName="department" [class.is-invalid]="v.Department.invalid && v.Department.touched">
                                <option *ngFor="let data of department" value="{{data}}">{{data}}</option>
                                </select>
                                <small *ngIf="v.Department.invalid && v.Department.touched"
                                    class="text-danger">Department is required. </small>
                              </div>
                              <div class="mb-3">
                                <label for="description-text" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description-text" formControlName="Description" spellcheck="false"placeholder="Enter Description"
                                formArrayName="department" [class.is-invalid]="v.Description.invalid && v.Description.touched"></textarea>
                                <small *ngIf="v.Description.invalid && v.Description.touched"
                                    class="text-danger">Description is required. </small>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Send Ticket</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <select class="form-select" aria-label="Default select example">
                          <option selected>Unresolved</option>
                          <option value="1">Open</option>
                          <option value="1">Solved</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <form class="d-flex" role="search">
                          <input class="form-control me-2" type="search" [(ngModel)]="filterTerm" placeholder="Search Tickets"
                            aria-label="Search">
                          <button class="btn btn-outline-primary" type="submit">Search</button>
                        </form>
                      </div>
                    </div>
                    <div class="row mb-3 text-black">
                      <div class="col-lg-12">
                        <div class="card text-black">
                          <div class="card-body">
                            <div class=""><small class="float-right text-muted">04 April 2023</small></div>
                            <h4 class="card-title mb-8">Issue with logging calls</h4>
                            <div class="row">
                              <p>qwertyui qwertyu wgeqyuf ewhf ewhbf</p>
                            </div>
                            <span class="badge badge-success">Solved</span> &nbsp;
                            <span class="badge badge-secondary">#457</span> 
                            <button type="button"class="btn btn-secondary float-right" (click)="switch()">View Ticket</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <div class=""><small class="float-right text-muted">04 April 2023</small></div>
                            <h4 class="card-title mb-8"> Slow PC</h4>
                            <div class="row">
                              <p>My PC is running slower than usual.</p>
                            </div>
                            <span class="badge badge-warning">Open</span> &nbsp;
                            <span class="badge badge-secondary">#5647</span> 
                            <button (click)="switch()" type="button"class="btn btn-secondary float-right">View Ticket</button>
                          </div>
                        </div>   
                      </div>
                    </div>
          </div>
          <!--SECOND COLUMN-->
          <div class="col-7 col-md-4">
              <div class="recent-activity">
                <div class="card">
                <div class="card-header">
                  <h3 id="ticket">Recent Activities</h3>
                </div>
                      <div class="card-body">
                      <h6>
                          <b>
                              Kwazi closed "How to reset password?"
                          </b><br>
                          <h6>06 April 2023,19:16</h6>
                      </h6>
                      <hr>
                      <h6>
                          <b>
                              John closed "How to reset password?"
                          </b><br>
                          <h6>06 April 2023,19:16</h6>
                      </h6>
                      <hr>
                      <h6>
                          <b>
                              John closed "How to reset password?"
                          </b><br>
                          <h6>06 April 2023,19:16</h6>
                      </h6>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<script>

  var myModal = document.getElementById('myModal');
  var myModalForm = document.querySelector('#myModal form');

  myModalForm.addEventListener('submit', function(event) {
    event.preventDefault(); 
    var formData = new FormData(myModalForm); 
    console.log(formData); 
    var myModalModal = bootstrap.Modal.getInstance(myModal);
    myModalModal.hide(); // hide the modal
  });
</script>